<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<title></title><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
{literal}
<style type="text/css">
body {
  margin: 0;
  padding: 0;
  background:url(images/admin_main_left.png) repeat-y right top #198bc9;
  cursor: E-resize;
}
</style>
<script type="text/javascript" language="JavaScript">
<!--


function toggleMenu()
{
  frmBody = parent.document.getElementById('frame-body');
  imgArrow = document.getElementById('img');

  if (frmBody.cols == "0,0,8,*,8")
  {
    frmBody.cols="8,165, 8, *,8";
    imgArrow.src = "images/admin_middle_left.png";
  }
  else
  {
    frmBody.cols="0,0,8,*,8";
    imgArrow.src = "images/admin_middle_right.png";
  }
}


//-->
</script>
{/literal}
</head>
<body onselect="return false;">
<table height="100%" cellspacing="0" cellpadding="0" id="tbl">
  <tr><td><a href="javascript:toggleMenu();"><img src="images/admin_middle_left.png" width="8" height="39" id="img" border="0" /></a></td></tr>
</table>
</body>
</html>